@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{
    --color-primary: #b81820;
    --color-white: #e9e9e9;
    --color-black: #0078b7;
    --color-black-1:#142b47;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    font-family: "Roboto Flex";
    overflow-x: hidden;  
    margin: 0;
    padding: 0;
    padding-top: 80px;
    height: 100vh;   
}

/* Estilos principales de la barra de navegación */
.menu_bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed; /* Fijar el menú al top */
    z-index: 1000;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    top: 0;
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 30px;
    position: relative;
}

.menu_bar ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 20px;
    transition: all 300ms;
}

.menu_bar h1 a img {
    width: auto;
    height: 65px;
}

/* Estilo de los enlaces en hover */
.menu_bar ul li a:hover {
    color: var(--color-primary);
}

/* Menú desplegable */
.dropdown_menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: var(--color-black);
    width: 100%;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block; 
}


.submenu-toggle:checked + .submenu-label + .dropdown_menu {
    display: block;
}

.dropdown_menu ul {
    display: block;
    margin: 0;
    padding: 0;
}

.dropdown_menu ul li {
    width: 100%;
    padding: 10px;
}

/* Estilos para el menú hamburguesa (visible en pantallas pequeñas) */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: var(--color-white);
}

/* Estilo para el checkbox, escondiéndolo */
.menu-toggle {
    display: none;
}

.submenu-toggle {
    display: none;
}

.submenu-label {
    display: block;
    cursor: pointer;
    width: 100%;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    
    .menu_bar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-black);
        position: fixed; 
        top: 80px; 
        left: 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 999; 
    }

    .menu_bar ul li a i.fas.fa-caret-down {
        display: none;
    }

    .menu_bar ul li {
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }

    .menu_bar ul li a {
        font-size: 18px;
    }

    .menu_bar ul li a:hover {
        color: var(--color-primary);
    }

    
    .hamburger {
        display: block;
    }

    
    #menu-toggle:checked + .hamburger + .menu_links {
        display: flex;
    }

    
    .dropdown_menu {
        display: none;
    }

    
    body {
        padding-top: 80px; 
    }
}








.banner{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    height: 100vh;
    background-color: #104765;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../img/altura1.jpg');
    animation: banner 5s infinite linear;
}

.banner-content{
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(32, 49, 63, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.banner-content h1{
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 0;
    padding-bottom: 5vh;
    align-items: center;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}
.banner-content p{
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

@keyframes banner{
    0%{
        background-image: url('../img/altura1.jpg');
    }
    50%{
        background-image: url('../img/altura1.jpg');
    }
    51%{
        background-image: url('../img/altura2.jpg');
    }
    100%{
        background-image: url('../img/altura2.jpg');
    }
    
}



/* Slider: contenedor principal */
.slider {
    margin-left: 20px;
    width: 98%;               
    overflow: hidden;          
    position: relative;        
}

/* Contenedor que tiene las imágenes deslizándose */
.slide-track {
    display: flex;             
    animation: scroll 30s linear infinite; }


.slide {
    flex-shrink: 0;            
    width: 200px;              
    height: auto;              
    margin: 0 10px;            
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}


.slide img {
    max-width: 100%;           
    height: auto;              
    display: block;            
}

/* Animación de desplazamiento infinito */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.clientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.clientes h2{
    margin: 0;
    padding: 10px;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color:#b81820;
}
.clientes p{
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5vh;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0078b7;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box li{
    list-style: none;
    line-height: 1.8;
    position: relative;
    display: flex;
}
.pie-pagina .grupo-1 .box ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 15px;
    transition: all 300ms;
}

.pie-pagina .grupo-1 .box ul li a:hover {
    color: var(--color-primary);
}

.pie-pagina .grupo-1 .box p{
    font-size: 10px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 100px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #026092;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color:#a21238;
    background-color: #0887cc;
}
.pie-pagina .grupo-2{
    background-color: #026092;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
/* Ajustes para el pie de página en pantallas pequeñas */
@media screen and (max-width: 800px) {
    .slider{
        margin-left: 7px;
    }

    .banner{
        position: relative;
        width: 100%;
        height: 50vh;
        background-color: #104765;
        background-size: cover;
        background-position: center;
        transition: all .1s ease-in-out;
        background-image: url('../img/altura1.jpg');
        animation: banner 5s infinite linear;
    }
    
    .banner-content{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: white;
        background-color: rgba(32, 49, 63, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    .banner-content h1{
        margin-left: 10vh;
        margin-right: 10vh;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 5vh;
        align-items: center;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
    }
    .banner-content p{
        font-size: 15px;
    }
    /* Cambiar el diseño de la cuadrícula para pantallas pequeñas */
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
        grid-gap: 20px; /* Reducir el espacio entre los elementos */
        padding: 35px 0px;
    }

    /* Reducir los márgenes y tamaños de los textos en el pie de página */
    .pie-pagina .grupo-1 .box h2 {
        font-size: 18px; /* Reducir el tamaño de los títulos */
        margin-bottom: 15px;
    }

    .pie-pagina .grupo-1 .box p {
        font-size: 12px; /* Reducir el tamaño del texto */
        margin-bottom: 10px;
    }

    /* Asegurarse de que los enlaces sean legibles */
    .pie-pagina .grupo-1 .box ul li a {
        font-size: 14px; /* Reducir el tamaño de los enlaces */
    }

    /* Ajustar los iconos de redes sociales */
    .social-media {
        gap: 30px; /* Reducir el espacio entre los iconos de redes sociales */
        padding-bottom: 20px;
    }

    .social-icon {
        font-size: 80px; /* Reducir el tamaño de los iconos de redes sociales */
    }

    /* Cambiar el tamaño de la sección de derechos de autor o el texto inferior */
    .pie-pagina .grupo-2 small {
        font-size: 14px; /* Reducir el tamaño del texto de derechos de autor */
    }
}

/* Ajustes adicionales para pantallas aún más pequeñas (500px o menos) */
@media screen and (max-width: 500px) {
    /* Asegurarse de que los iconos sean más pequeños en pantallas muy pequeñas */
    .social-icon {
        font-size: 50px; /* Reducir aún más el tamaño de los iconos */
    }

    /* Asegurarse de que el pie de página se vea bien incluso en pantallas pequeñas */
    .pie-pagina .grupo-1 .box p {
        font-size: 10px; /* Hacer los textos más pequeños en pantallas muy pequeñas */
    }

    .pie-pagina .grupo-1 .box h2 {
        font-size: 16px; /* Ajustar el tamaño de los encabezados */
    }

    .pie-pagina .grupo-1 .box ul li a {
        font-size: 12px; /* Hacer los enlaces más pequeños */
    }
}




/* Estilo del contenedor de las cards */
.card-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 50px; 
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px; 
  }
  
  /* Card */
  .card {
    width: 100%;
    max-width: 300px; 
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box; 
    margin-bottom: 20px; 
  }
  .card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
  .card-icon img{
    width: 200px;
    height: 200px;
  }
  
  .card-text {
    text-align: center;
    margin-bottom: 30px;
  }
  .card-text h2{
   font-size: 20px;
   color: #a21238;
  }
  
  .card-text p {
    margin: 2px 0;
    font-size: 11px;
    color: #333;
  }
  
  .open-modal-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .open-modal-btn:hover {
    background-color: #a21238;
  }
  
  /* Estilo del modal (inicialmente oculto) */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
      /* Animación de desvanecimiento y deslizamiento */
  opacity: 0;
  transform: translateY(-50px); 
  transition: opacity 0.3s ease, transform 0.3s ease; 

  }
  
  .modal:target {
    display: flex;
    opacity: 1; 
  transform: translateY(0); 
  }
  
  .modal-content {
    display: flex;
    background-color: white;
    width: 80%;
    max-width: 900px;
    min-width: 300px; 
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    max-height: 90vh; 
    overflow-y: auto; 
  }
  
  .modal-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .modal-text {
    flex: 2;
    padding: 20px;
  }
  
  .modal-text i{
    color: #a21238;
  }
  .modal-text h2 {
    font-size: 24px;
    color: #a21238;
    padding-bottom: 30px;
  }
  .modal-text p{
    font-size: 15px;
    line-height: 180%;
    text-align: left;
    text-justify: inherit;
    
  }
  /* Estilo del overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Botón para cerrar el modal */
  .close-modal-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .close-modal-btn:hover {
    color: #e74c3c;
  }
  
  /* Estilo responsive */
  @media (max-width: 768px) {
    .card-container {
        margin-left: 0px;
      flex-direction: column; 
      align-items: center;
    }
  
    .card {
      max-width: 100%;
      margin-bottom: 20px; 
    }
  
    .modal-content {
      width: 90%; 
      max-width: 90%;
      min-width: 250px; 
    }
  
    .modal-text h2 {
      font-size: 14px;
    }
    .modal-text p {
        font-size: 10px;
    }
    .modal-image img {
      max-width: 100%;
      height: auto;
    }
    .abajo{
        margin-top: 20px;
    }
  }

 @media (max-width: 768px) {
    .card-container {
        margin-left: 0px;
      flex-direction: column; 
      align-items: center;
    }
  
    .card {
      max-width: 100%;
      margin-bottom: 20px; 
    }
  
    .modal-content {
      width: 90%; 
      max-width: 90%;
      min-width: 250px; 
    }
  
    .modal-text h2 {
      font-size: 14px;
    }
    .modal-text p {
        font-size: 10px;
    }
    .modal-image img {
      max-width: 100%;
      height: auto;
    }
    .abajo{
        margin-top: 20px;
    }
  }
  



  .cajac{
    margin-top: 20px;
    width: 100%;
    margin: 20px;
    height: 100px;
}

.cajac h2{
    padding-top: 20px;
    color: #b81820;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    font-family: "Roboto Flex";
    font-weight: 600;

}
.textoa {
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 20px;
  font-weight: 300;

}



.social-media {
    margin-top: 20px;
    display: flex;
    gap: 250px; 
    justify-content: center;
    align-items: center;
}

.social-icon {
    color: #333; 
    font-size: 250px; 
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #b81820; 

}
  @media (max-width: 768px) {
    .cajac{
        padding-top: 0;
        margin-top: 0px;
    width: 100%;
    height: 50px;
    }
    .cajac h2{
        margin-top: 0;
        padding-top: 0px;
        font-size: 30px;
    }
    .textoa{
        font-size: 15px;
        margin: 10px;
        padding-left: 20px;
        padding-right:20px;
    }
    .social-media{
        gap: 100px;
        padding-bottom: 20px;
    }
    .social-icon {
        font-size: 100px; 
        
    }
}
@media (max-width: 500px) {
    .modal-content{
        flex-direction: column;
    }
    .cajac{
        padding-top: 0;
        margin-top: 0px;
    width: 100%;
    height: 50px;
    }
    .cajac h2{
        margin-top: 0;
        padding-top: 0px;
        font-size: 30px;
    }
    .textoa{
        font-size: 12px;
        margin: 10px;
        padding-left: 10px;
        padding-right:10px;
    }
    .social-media{
        gap: 50px;
        padding-bottom: 20px;
    }
    .social-icon {
        font-size: 50px; 
        
    }
}
.social-icon:hover {
    color: #b81820; 
}